[submodule "dbcppp"]
	path = libaries/dbcppp
	url = https://github.com/xR3b0rn/dbcppp.git
[submodule "mdflib"]
	path = libaries/mdflib
	url = https://github.com/ihedvall/mdflib.git
[submodule "libaries/cpp-httplib"]
	path = libaries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "libaries/json"]
	path = libaries/json
	url = https://github.com/nlohmann/json
