[submodule "dbcppp"]
	path = dbcppp
	url = https://github.com/xR3b0rn/dbcppp.git
[submodule "gfr_dbc_files"]
	path = gfr_dbc_files
	url = https://github.com/GlobalFormulaRacing/gfr_dbc_files.git
[submodule "mdflib"]
	path = mdflib
	url = https://github.com/ihedvall/mdflib.git
[submodule "libaries/cpp-httplib"]
	path = libaries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "libaries/json"]
	path = libaries/json
	url = https://github.com/nlohmann/json
