.scrollbarContainer {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.scrollableContainer::-webkit-scrollbar {
    display: none;
}
